#result-group {
  margin-top: 30px;
  text-align: center;
  padding-bottom: 30px;
}

#page-title {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

#information {
  padding: 30px 0px;
}